USE [master]
GO
/****** Object:  Database [FINAL_PROJEKT]    Script Date: 18.09.2025 14:33:29 ******/
CREATE DATABASE [FINAL_PROJEKT]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'FINAL_PROJEKT', FILENAME = N'C:\SQL-Hotel-Kacimi-El-Hassani-Aicha\006-BackUp\FINAL_PROJEKT1.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'FINAL_PROJEKT_log', FILENAME = N'C:\SQL-Hotel-Kacimi-El-Hassani-Aicha\006-BackUp\FINAL_PROJEKT1_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [FINAL_PROJEKT].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [FINAL_PROJEKT]
GO
/****** Object:  User [Mitarbeiter_User]    Script Date: 18.09.2025 14:33:29 ******/
CREATE USER [Mitarbeiter_User] FOR LOGIN [Mitarbeiter_LOGIN] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [GAST]    Script Date: 18.09.2025 14:33:29 ******/
CREATE USER [GAST] FOR LOGIN [GAST_LOGIN] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  UserDefinedFunction [dbo].[sf_GesamtBetrageRechner]    Script Date: 18.09.2025 14:33:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date, ,>
-- Description:	<Description, ,>
-- =============================================
CREATE   FUNCTION [dbo].[sf_GesamtBetrageRechner]
(
	@BuchungID INT
)
RETURNS int
AS
BEGIN
DECLARE @PreisProNacht INT;
DECLARE @AnzahlTage INT;
DECLARE @SUM INT;
DECLARE @GesamtPreisService INT ;
DECLARE  @FinalBetrag INT;
--Gibt den zimmer prei pro nacht für die gewählte BuchungID
SET  @PreisProNacht=(
SELECT        dbo.tb_ZimmerTyp.PreisProNacht
FROM            dbo.tb_Buchung INNER JOIN
                         dbo.tb_Zimmer ON dbo.tb_Buchung.ZimmerID = dbo.tb_Zimmer.ZimmerID INNER JOIN
                         dbo.tb_ZimmerTyp ON dbo.tb_Zimmer.ZimmerTypID = dbo.tb_ZimmerTyp.ZimmerTypID
WHERE        (dbo.tb_Buchung.BuchungID = @BuchungID))
--Anzahl der Tage des Aufenthalts für BuchungID
SET @AnzahlTage=Datediff(day,(SELECT        CheckinDatum
FROM            dbo.tb_Buchung
WHERE        (BuchungID = @BuchungID)),(SELECT        CheckoutDatum
FROM            dbo.tb_Buchung
WHERE        (BuchungID =@BuchungID )));
--@SUM Die ZimmerKosten fur BuchungID ohne service kosten
SET @SUM=@PreisProNacht* @AnzahlTage;
--Wenn der Gast zusätzliche Services gebucht hat 
IF EXISTS  (SELECT        dbo.tb_Buchung.BuchungID, dbo.BuchungService.BuchungServiceID
FROM            dbo.BuchungService INNER JOIN
                         dbo.tb_Buchung ON dbo.BuchungService.BuchungID = dbo.tb_Buchung.BuchungID
WHERE        (dbo.tb_Buchung.BuchungID =dbo.BuchungService.BuchungID )) 
BEGIN
SET @GesamtPreisService=(SELECT        SUM(dbo.tb_Service.Preis * dbo.BuchungService.Anzahl) AS 'SUMME'
FROM            dbo.tb_Buchung INNER JOIN
                         dbo.BuchungService ON dbo.tb_Buchung.BuchungID = dbo.BuchungService.BuchungID INNER JOIN
                         dbo.tb_Service ON dbo.BuchungService.ServiceID = dbo.tb_Service.ServiceID
WHERE        (dbo.tb_Buchung.BuchungID = @BuchungID));
SET @FinalBetrag=@GesamtPreisService+@SUM;
RETURN  @FinalBetrag;
END;
--Wenn der Gast keine Service gebucht hat

RETURN @SUM;












END
GO
/****** Object:  UserDefinedFunction [dbo].[sf_Hat_Gast_Offene_Rechnungen]    Script Date: 18.09.2025 14:33:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date, ,>
-- Description:	<Description, ,>
-- =============================================
CREATE FUNCTION [dbo].[sf_Hat_Gast_Offene_Rechnungen]
(
@GASTID INT
)
RETURNS bit
AS
BEGIN
DECLARE @Result bit;
IF Exists (SELECT        dbo.tb_Gast.GastID, dbo.tb_Buchung.BuchungID, dbo.tb_Rechnung.RechnungStatus
                    FROM            dbo.tb_Buchung INNER JOIN
                         dbo.tb_Rechnung ON dbo.tb_Buchung.BuchungID = dbo.tb_Rechnung.BuchungID INNER JOIN
                         dbo.tb_Gast ON dbo.tb_Buchung.GastID = dbo.tb_Gast.GastID
                    WHERE        (dbo.tb_Rechnung.RechnungStatus = N'offen') AND (dbo.tb_Gast.GastID = @GastID))
					SET @Result=1;
					
					ELSE
					SET @Result=0;
					RETURN @Result;
END
GO
/****** Object:  UserDefinedFunction [dbo].[sf_IstZimmerFrei_in_Diesen_ZeitRaum ]    Script Date: 18.09.2025 14:33:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE   FUNCTION [dbo].[sf_IstZimmerFrei_in_Diesen_ZeitRaum ] 
(
	@ZimmerID int,
	@CheckinDatum date,
	@CheckoutDatum date
	
)
RETURNS bit
AS
BEGIN
	DECLARE @Ergebnis bit;
	--DECLARE @result nvarchar(50);



IF EXISTS (
        SELECT 1
        FROM dbo.tb_Buchung b
        WHERE (b.ZimmerID = @ZimmerID) 
          AND (
                -- neue Checkin fällt in bestehenden Zeitraum
                (@CheckinDatum BETWEEN b.CheckinDatum AND b.CheckoutDatum)
                OR
                -- neue Checkout fällt in bestehenden Zeitraum
                (@CheckoutDatum BETWEEN b.CheckinDatum AND b.CheckoutDatum)
                OR
                -- bestehende Buchung komplett in neuem Zeitraum
                (b.CheckinDatum BETWEEN @CheckinDatum AND @CheckoutDatum)
              )
    )
    BEGIN
        SET @Ergebnis = 1; -- Zimmer ist schon belegt
    END
	ELSE
	 SET @Ergebnis = 0;--Zimmer ist frei
    RETURN @Ergebnis;
END


GO
/****** Object:  Table [dbo].[tb_Mitarbeiter]    Script Date: 18.09.2025 14:33:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_Mitarbeiter](
	[MitarbeiterID] [int] IDENTITY(1,1) NOT NULL,
	[PersonID] [int] NOT NULL,
	[RolleID] [int] NOT NULL,
	[ServiceID] [int] NOT NULL,
 CONSTRAINT [PK_tb_Mitarbeiter] PRIMARY KEY CLUSTERED 
(
	[MitarbeiterID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_Person]    Script Date: 18.09.2025 14:33:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_Person](
	[PersonID] [int] IDENTITY(1,1) NOT NULL,
	[Nachname] [nvarchar](50) NOT NULL,
	[Vorname] [nvarchar](50) NOT NULL,
	[GebDatum] [date] NOT NULL,
 CONSTRAINT [PK_tb_Person] PRIMARY KEY CLUSTERED 
(
	[PersonID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_Gast]    Script Date: 18.09.2025 14:33:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_Gast](
	[GastID] [int] IDENTITY(1,1) NOT NULL,
	[PersonID] [int] NOT NULL,
 CONSTRAINT [PK_tb_Gast] PRIMARY KEY CLUSTERED 
(
	[GastID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_Service]    Script Date: 18.09.2025 14:33:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_Service](
	[ServiceID] [int] IDENTITY(1,1) NOT NULL,
	[Service] [nvarchar](50) NOT NULL,
	[Preis] [money] NOT NULL,
 CONSTRAINT [PK_tb_Service] PRIMARY KEY CLUSTERED 
(
	[ServiceID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_Buchung]    Script Date: 18.09.2025 14:33:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_Buchung](
	[BuchungID] [int] IDENTITY(1,1) NOT NULL,
	[CheckinDatum] [date] NOT NULL,
	[CheckoutDatum] [date] NOT NULL,
	[GastID] [int] NOT NULL,
	[ZimmerID] [int] NOT NULL,
 CONSTRAINT [PK_tb_Buchung] PRIMARY KEY CLUSTERED 
(
	[BuchungID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BuchungService]    Script Date: 18.09.2025 14:33:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BuchungService](
	[BuchungServiceID] [int] IDENTITY(1,1) NOT NULL,
	[BuchungID] [int] NOT NULL,
	[ServiceID] [int] NOT NULL,
	[Anzahl] [int] NOT NULL,
	[MitarbeiterID] [int] NOT NULL,
	[Datum] [date] NOT NULL,
 CONSTRAINT [PK_BuchungService] PRIMARY KEY CLUSTERED 
(
	[BuchungServiceID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[View_Gast_Service_Mitarbeiter]    Script Date: 18.09.2025 14:33:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[View_Gast_Service_Mitarbeiter]
AS
SELECT        tb_Person_1.Nachname AS [M.Nachname], tb_Person_1.Vorname AS [M.Vorname], dbo.tb_Service.Service, dbo.BuchungService.Anzahl, dbo.BuchungService.Datum, dbo.tb_Buchung.BuchungID, dbo.tb_Person.Nachname, 
                         dbo.tb_Person.Vorname
FROM            dbo.BuchungService INNER JOIN
                         dbo.tb_Buchung ON dbo.BuchungService.BuchungID = dbo.tb_Buchung.BuchungID INNER JOIN
                         dbo.tb_Gast ON dbo.tb_Buchung.GastID = dbo.tb_Gast.GastID INNER JOIN
                         dbo.tb_Mitarbeiter ON dbo.BuchungService.MitarbeiterID = dbo.tb_Mitarbeiter.MitarbeiterID INNER JOIN
                         dbo.tb_Service ON dbo.BuchungService.ServiceID = dbo.tb_Service.ServiceID INNER JOIN
                         dbo.tb_Person ON dbo.tb_Gast.PersonID = dbo.tb_Person.PersonID INNER JOIN
                         dbo.tb_Person AS tb_Person_1 ON dbo.tb_Mitarbeiter.PersonID = tb_Person_1.PersonID
GO
/****** Object:  View [dbo].[View_GesamtPreisVonService_GroupByHaving+Sum]    Script Date: 18.09.2025 14:33:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[View_GesamtPreisVonService_GroupByHaving+Sum]
AS
SELECT        dbo.tb_Buchung.BuchungID, dbo.tb_Gast.GastID, SUM(dbo.tb_Service.Preis * dbo.BuchungService.Anzahl) AS GesamtPreisVonServices
FROM            dbo.BuchungService INNER JOIN
                         dbo.tb_Service ON dbo.BuchungService.ServiceID = dbo.tb_Service.ServiceID INNER JOIN
                         dbo.tb_Buchung ON dbo.BuchungService.BuchungID = dbo.tb_Buchung.BuchungID INNER JOIN
                         dbo.tb_Gast ON dbo.tb_Buchung.GastID = dbo.tb_Gast.GastID
GROUP BY dbo.tb_Buchung.BuchungID, dbo.tb_Gast.GastID
GO
/****** Object:  UserDefinedFunction [dbo].[tf_BuchungenProGast]    Script Date: 18.09.2025 14:33:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE   FUNCTION [dbo].[tf_BuchungenProGast] 
(	
	-- Add the parameters for the function here
	@GastID INT
)
RETURNS TABLE 
AS
RETURN 
(
	SELECT        dbo.tb_Person.Nachname, dbo.tb_Person.Vorname, dbo.tb_Buchung.CheckinDatum, dbo.tb_Buchung.CheckoutDatum, dbo.tb_Gast.GastID
FROM            dbo.tb_Buchung INNER JOIN
                         dbo.tb_Gast ON dbo.tb_Buchung.GastID = dbo.tb_Gast.GastID INNER JOIN
                         dbo.tb_Person ON dbo.tb_Gast.PersonID = dbo.tb_Person.PersonID
WHERE        (dbo.tb_Gast.GastID = @GastID)
)
GO
/****** Object:  UserDefinedFunction [dbo].[dbo.tf_AnzahlBuchungenMitarbeiter]    Script Date: 18.09.2025 14:33:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================

CREATE FUNCTION [dbo].[dbo.tf_AnzahlBuchungenMitarbeiter]
(	
	@Mitarbeiter INT
)
RETURNS TABLE 
AS
RETURN 
(
SELECT        dbo.tb_Mitarbeiter.MitarbeiterID, dbo.tb_Person.Nachname, dbo.tb_Person.Vorname, COUNT(dbo.BuchungService.BuchungID) AS Anzahl
FROM            dbo.BuchungService INNER JOIN
                         dbo.tb_Buchung ON dbo.BuchungService.BuchungID = dbo.tb_Buchung.BuchungID INNER JOIN
                         dbo.tb_Mitarbeiter ON dbo.BuchungService.MitarbeiterID = dbo.tb_Mitarbeiter.MitarbeiterID INNER JOIN
                         dbo.tb_Person ON dbo.tb_Mitarbeiter.PersonID = dbo.tb_Person.PersonID
GROUP BY dbo.tb_Person.Nachname, dbo.tb_Person.Vorname, dbo.tb_Mitarbeiter.MitarbeiterID
HAVING        (dbo.tb_Mitarbeiter.MitarbeiterID = @Mitarbeiter)
)
GO
/****** Object:  View [dbo].[View_FullJoin_Gast_ohne_ServiceBuchung]    Script Date: 18.09.2025 14:33:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[View_FullJoin_Gast_ohne_ServiceBuchung]
AS
SELECT        dbo.tb_Person.Nachname, dbo.tb_Person.Vorname, dbo.tb_Buchung.BuchungID, dbo.tb_Service.Service
FROM            dbo.tb_Service INNER JOIN
                         dbo.BuchungService ON dbo.tb_Service.ServiceID = dbo.BuchungService.ServiceID FULL OUTER JOIN
                         dbo.tb_Gast INNER JOIN
                         dbo.tb_Buchung ON dbo.tb_Gast.GastID = dbo.tb_Buchung.GastID INNER JOIN
                         dbo.tb_Person ON dbo.tb_Gast.PersonID = dbo.tb_Person.PersonID ON dbo.BuchungService.BuchungID = dbo.tb_Buchung.BuchungID
WHERE        (dbo.tb_Service.Service IS NULL)
GO
/****** Object:  Table [dbo].[tb_BuchungLog]    Script Date: 18.09.2025 14:33:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_BuchungLog](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Mode] [char](1) NOT NULL,
	[EditOn] [datetime] NOT NULL,
	[EditUser] [varchar](100) NOT NULL,
	[BuchungID] [int] NOT NULL,
	[CheckinDatum_alt] [date] NULL,
	[CheckinDatum] [date] NOT NULL,
	[CheckoutDatum_alt] [date] NULL,
	[CheckoutDatum] [date] NOT NULL,
	[GastID_alt] [int] NULL,
	[GastID] [int] NULL,
	[ZimmerID_Alt] [int] NULL,
	[ZimmerID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_Mitarbeiter_Import]    Script Date: 18.09.2025 14:33:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_Mitarbeiter_Import](
	[MitarbeiterID] [int] IDENTITY(1,1) NOT NULL,
	[Mitarbeiter] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_tb_Mitarbeiter_Import] PRIMARY KEY CLUSTERED 
(
	[MitarbeiterID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_Mitarbeiter_Rollen_import]    Script Date: 18.09.2025 14:33:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_Mitarbeiter_Rollen_import](
	[MitarbeiterID] [int] NOT NULL,
	[RolleID] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_MitarbeiterService]    Script Date: 18.09.2025 14:33:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_MitarbeiterService](
	[Mitarbeiter_ServiceID] [int] IDENTITY(1,1) NOT NULL,
	[MitarbeiterID] [int] NOT NULL,
	[ServiceID] [int] NOT NULL,
 CONSTRAINT [PK_tb_MitarbeiterService] PRIMARY KEY CLUSTERED 
(
	[Mitarbeiter_ServiceID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_Rechnung]    Script Date: 18.09.2025 14:33:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_Rechnung](
	[RechnungID] [int] IDENTITY(1,1) NOT NULL,
	[Datum] [date] NOT NULL,
	[GesamtBetrag] [int] NULL,
	[RechnungStatus] [nvarchar](50) NULL,
	[BuchungID] [int] NOT NULL,
 CONSTRAINT [PK_tb_Rechnung] PRIMARY KEY CLUSTERED 
(
	[RechnungID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_RechnungLog]    Script Date: 18.09.2025 14:33:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_RechnungLog](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Mode] [char](1) NOT NULL,
	[EditOn] [datetime] NOT NULL,
	[EditUser] [varchar](100) NOT NULL,
	[RechnungID] [int] NOT NULL,
	[Datum_alt] [date] NULL,
	[Datum] [date] NOT NULL,
	[GesamtBetrag_alt] [int] NULL,
	[GesamtBetrag] [int] NULL,
	[RechnungStatus_alt] [nvarchar](50) NULL,
	[RechnungStatus] [nvarchar](50) NULL,
	[BuchungID_Alt] [int] NULL,
	[BuchungID] [int] NULL,
 CONSTRAINT [PK__tb_Rechn__3214EC27FDBD616A] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_RohDaten]    Script Date: 18.09.2025 14:33:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_RohDaten](
	[Mitarbeiter] [nvarchar](50) NOT NULL,
	[Rolle] [nvarchar](50) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_Rolle]    Script Date: 18.09.2025 14:33:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_Rolle](
	[RolleID] [int] IDENTITY(1,1) NOT NULL,
	[Rolle] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_tb_Rolle] PRIMARY KEY CLUSTERED 
(
	[RolleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_Rolle_Import]    Script Date: 18.09.2025 14:33:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_Rolle_Import](
	[RolleID] [int] IDENTITY(1,1) NOT NULL,
	[Rolle] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_tb_Rolle_Import] PRIMARY KEY CLUSTERED 
(
	[RolleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_Zahlung]    Script Date: 18.09.2025 14:33:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_Zahlung](
	[ZahlungID] [int] IDENTITY(1,1) NOT NULL,
	[ZahlungDatum] [date] NOT NULL,
	[ZahlungsArt] [nvarchar](50) NULL,
	[RechnungID] [int] NOT NULL,
 CONSTRAINT [PK_tb_Zahlung] PRIMARY KEY CLUSTERED 
(
	[ZahlungID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_Zimmer]    Script Date: 18.09.2025 14:33:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_Zimmer](
	[ZimmerID] [int] IDENTITY(1,1) NOT NULL,
	[ZimmerNummer] [nvarchar](10) NOT NULL,
	[ZimmerTypID] [int] NOT NULL,
 CONSTRAINT [PK_tb_Zimmer] PRIMARY KEY CLUSTERED 
(
	[ZimmerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_ZimmerTyp]    Script Date: 18.09.2025 14:33:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_ZimmerTyp](
	[ZimmerTypID] [int] IDENTITY(1,1) NOT NULL,
	[ZimmerTyp] [nvarchar](50) NOT NULL,
	[PreisProNacht] [money] NOT NULL,
 CONSTRAINT [PK_tb_ZimmerTyp] PRIMARY KEY CLUSTERED 
(
	[ZimmerTypID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[BuchungService] ON 

INSERT [dbo].[BuchungService] ([BuchungServiceID], [BuchungID], [ServiceID], [Anzahl], [MitarbeiterID], [Datum]) VALUES (1, 1, 1, 2, 2, CAST(N'2025-12-27' AS Date))
INSERT [dbo].[BuchungService] ([BuchungServiceID], [BuchungID], [ServiceID], [Anzahl], [MitarbeiterID], [Datum]) VALUES (2, 2, 2, 1, 6, CAST(N'2025-01-17' AS Date))
INSERT [dbo].[BuchungService] ([BuchungServiceID], [BuchungID], [ServiceID], [Anzahl], [MitarbeiterID], [Datum]) VALUES (3, 3, 1, 1, 3, CAST(N'2025-02-03' AS Date))
SET IDENTITY_INSERT [dbo].[BuchungService] OFF
GO
SET IDENTITY_INSERT [dbo].[tb_Buchung] ON 

INSERT [dbo].[tb_Buchung] ([BuchungID], [CheckinDatum], [CheckoutDatum], [GastID], [ZimmerID]) VALUES (1, CAST(N'2025-12-26' AS Date), CAST(N'2025-12-31' AS Date), 1, 7)
INSERT [dbo].[tb_Buchung] ([BuchungID], [CheckinDatum], [CheckoutDatum], [GastID], [ZimmerID]) VALUES (2, CAST(N'2025-01-15' AS Date), CAST(N'2025-01-20' AS Date), 2, 4)
INSERT [dbo].[tb_Buchung] ([BuchungID], [CheckinDatum], [CheckoutDatum], [GastID], [ZimmerID]) VALUES (3, CAST(N'2025-02-01' AS Date), CAST(N'2025-02-05' AS Date), 3, 6)
SET IDENTITY_INSERT [dbo].[tb_Buchung] OFF
GO
SET IDENTITY_INSERT [dbo].[tb_BuchungLog] ON 

INSERT [dbo].[tb_BuchungLog] ([ID], [Mode], [EditOn], [EditUser], [BuchungID], [CheckinDatum_alt], [CheckinDatum], [CheckoutDatum_alt], [CheckoutDatum], [GastID_alt], [GastID], [ZimmerID_Alt], [ZimmerID]) VALUES (6, N'I', CAST(N'2025-09-14T21:19:39.273' AS DateTime), N'DESKTOP-I37MTDJ\alfa', 18, NULL, CAST(N'2025-09-15' AS Date), NULL, CAST(N'2025-09-20' AS Date), NULL, 11, NULL, 4)
INSERT [dbo].[tb_BuchungLog] ([ID], [Mode], [EditOn], [EditUser], [BuchungID], [CheckinDatum_alt], [CheckinDatum], [CheckoutDatum_alt], [CheckoutDatum], [GastID_alt], [GastID], [ZimmerID_Alt], [ZimmerID]) VALUES (7, N'I', CAST(N'2025-09-14T21:20:29.550' AS DateTime), N'DESKTOP-I37MTDJ\alfa', 19, NULL, CAST(N'2025-09-15' AS Date), NULL, CAST(N'2025-09-18' AS Date), NULL, 10, NULL, 4)
INSERT [dbo].[tb_BuchungLog] ([ID], [Mode], [EditOn], [EditUser], [BuchungID], [CheckinDatum_alt], [CheckinDatum], [CheckoutDatum_alt], [CheckoutDatum], [GastID_alt], [GastID], [ZimmerID_Alt], [ZimmerID]) VALUES (8, N'I', CAST(N'2025-09-14T21:34:03.430' AS DateTime), N'DESKTOP-I37MTDJ\alfa', 22, NULL, CAST(N'2025-09-15' AS Date), NULL, CAST(N'2025-09-18' AS Date), NULL, 6, NULL, 7)
SET IDENTITY_INSERT [dbo].[tb_BuchungLog] OFF
GO
SET IDENTITY_INSERT [dbo].[tb_Gast] ON 

INSERT [dbo].[tb_Gast] ([GastID], [PersonID]) VALUES (1, 1)
INSERT [dbo].[tb_Gast] ([GastID], [PersonID]) VALUES (2, 2)
INSERT [dbo].[tb_Gast] ([GastID], [PersonID]) VALUES (3, 3)
SET IDENTITY_INSERT [dbo].[tb_Gast] OFF
GO
SET IDENTITY_INSERT [dbo].[tb_Mitarbeiter] ON 

INSERT [dbo].[tb_Mitarbeiter] ([MitarbeiterID], [PersonID], [RolleID], [ServiceID]) VALUES (2, 11, 1, 1)
INSERT [dbo].[tb_Mitarbeiter] ([MitarbeiterID], [PersonID], [RolleID], [ServiceID]) VALUES (3, 12, 1, 1)
INSERT [dbo].[tb_Mitarbeiter] ([MitarbeiterID], [PersonID], [RolleID], [ServiceID]) VALUES (4, 13, 1, 1)
SET IDENTITY_INSERT [dbo].[tb_Mitarbeiter] OFF
GO
SET IDENTITY_INSERT [dbo].[tb_Mitarbeiter_Import] ON 

INSERT [dbo].[tb_Mitarbeiter_Import] ([MitarbeiterID], [Mitarbeiter]) VALUES (1, N'Claudia Richter')
INSERT [dbo].[tb_Mitarbeiter_Import] ([MitarbeiterID], [Mitarbeiter]) VALUES (2, N'Eva Neumann')
INSERT [dbo].[tb_Mitarbeiter_Import] ([MitarbeiterID], [Mitarbeiter]) VALUES (3, N'Jan Krüger')
SET IDENTITY_INSERT [dbo].[tb_Mitarbeiter_Import] OFF
GO
INSERT [dbo].[tb_Mitarbeiter_Rollen_import] ([MitarbeiterID], [RolleID]) VALUES (1, 2)
INSERT [dbo].[tb_Mitarbeiter_Rollen_import] ([MitarbeiterID], [RolleID]) VALUES (2, 3)
INSERT [dbo].[tb_Mitarbeiter_Rollen_import] ([MitarbeiterID], [RolleID]) VALUES (3, 1)
GO
SET IDENTITY_INSERT [dbo].[tb_MitarbeiterService] ON 

INSERT [dbo].[tb_MitarbeiterService] ([Mitarbeiter_ServiceID], [MitarbeiterID], [ServiceID]) VALUES (1, 2, 1)
INSERT [dbo].[tb_MitarbeiterService] ([Mitarbeiter_ServiceID], [MitarbeiterID], [ServiceID]) VALUES (2, 3, 1)
INSERT [dbo].[tb_MitarbeiterService] ([Mitarbeiter_ServiceID], [MitarbeiterID], [ServiceID]) VALUES (3, 4, 1)
SET IDENTITY_INSERT [dbo].[tb_MitarbeiterService] OFF
GO
SET IDENTITY_INSERT [dbo].[tb_Person] ON 

INSERT [dbo].[tb_Person] ([PersonID], [Nachname], [Vorname], [GebDatum]) VALUES (1, N'Müller', N'Anna', CAST(N'1990-05-12' AS Date))
INSERT [dbo].[tb_Person] ([PersonID], [Nachname], [Vorname], [GebDatum]) VALUES (2, N'Schmidt', N'Peter', CAST(N'1985-03-08' AS Date))
INSERT [dbo].[tb_Person] ([PersonID], [Nachname], [Vorname], [GebDatum]) VALUES (3, N'Meier', N'Laura', CAST(N'1992-11-21' AS Date))
SET IDENTITY_INSERT [dbo].[tb_Person] OFF
GO
SET IDENTITY_INSERT [dbo].[tb_Rechnung] ON 

INSERT [dbo].[tb_Rechnung] ([RechnungID], [Datum], [GesamtBetrag], [RechnungStatus], [BuchungID]) VALUES (1, CAST(N'2025-01-12' AS Date), 600, N'bezahlt', 1)
INSERT [dbo].[tb_Rechnung] ([RechnungID], [Datum], [GesamtBetrag], [RechnungStatus], [BuchungID]) VALUES (2, CAST(N'2025-01-20' AS Date), 600, N'offen', 2)
INSERT [dbo].[tb_Rechnung] ([RechnungID], [Datum], [GesamtBetrag], [RechnungStatus], [BuchungID]) VALUES (3, CAST(N'2025-02-05' AS Date), 480, N'bezahlt', 3)
SET IDENTITY_INSERT [dbo].[tb_Rechnung] OFF
GO
SET IDENTITY_INSERT [dbo].[tb_RechnungLog] ON 

INSERT [dbo].[tb_RechnungLog] ([ID], [Mode], [EditOn], [EditUser], [RechnungID], [Datum_alt], [Datum], [GesamtBetrag_alt], [GesamtBetrag], [RechnungStatus_alt], [RechnungStatus], [BuchungID_Alt], [BuchungID]) VALUES (1, N'I', CAST(N'2025-09-17T12:59:16.640' AS DateTime), N'DESKTOP-I37MTDJ\alfa', 23, NULL, CAST(N'2026-04-02' AS Date), NULL, 3600, NULL, N'Offen', NULL, 113)
INSERT [dbo].[tb_RechnungLog] ([ID], [Mode], [EditOn], [EditUser], [RechnungID], [Datum_alt], [Datum], [GesamtBetrag_alt], [GesamtBetrag], [RechnungStatus_alt], [RechnungStatus], [BuchungID_Alt], [BuchungID]) VALUES (2, N'I', CAST(N'2025-09-17T13:30:26.280' AS DateTime), N'DESKTOP-I37MTDJ\alfa', 24, NULL, CAST(N'2025-10-18' AS Date), NULL, 400, NULL, N'Offen', NULL, 114)
INSERT [dbo].[tb_RechnungLog] ([ID], [Mode], [EditOn], [EditUser], [RechnungID], [Datum_alt], [Datum], [GesamtBetrag_alt], [GesamtBetrag], [RechnungStatus_alt], [RechnungStatus], [BuchungID_Alt], [BuchungID]) VALUES (3, N'U', CAST(N'2025-09-17T13:32:21.743' AS DateTime), N'DESKTOP-I37MTDJ\alfa', 24, CAST(N'2025-10-18' AS Date), CAST(N'2025-10-19' AS Date), 400, 400, N'Offen', N'Offen', 114, 114)
SET IDENTITY_INSERT [dbo].[tb_RechnungLog] OFF
GO
INSERT [dbo].[tb_RohDaten] ([Mitarbeiter], [Rolle]) VALUES (N'Claudia Richter', N'Koch')
INSERT [dbo].[tb_RohDaten] ([Mitarbeiter], [Rolle]) VALUES (N'Thomas Klein', N'Koch')
INSERT [dbo].[tb_RohDaten] ([Mitarbeiter], [Rolle]) VALUES (N'Maria Wolf', N'Koch')
GO
SET IDENTITY_INSERT [dbo].[tb_Rolle] ON 

INSERT [dbo].[tb_Rolle] ([RolleID], [Rolle]) VALUES (1, N'Koch')
INSERT [dbo].[tb_Rolle] ([RolleID], [Rolle]) VALUES (3, N'Masseur')
INSERT [dbo].[tb_Rolle] ([RolleID], [Rolle]) VALUES (2, N'Servicekraft')
SET IDENTITY_INSERT [dbo].[tb_Rolle] OFF
GO
SET IDENTITY_INSERT [dbo].[tb_Rolle_Import] ON 

INSERT [dbo].[tb_Rolle_Import] ([RolleID], [Rolle]) VALUES (1, N'Manager')
INSERT [dbo].[tb_Rolle_Import] ([RolleID], [Rolle]) VALUES (2, N'Rezeptionist')
INSERT [dbo].[tb_Rolle_Import] ([RolleID], [Rolle]) VALUES (3, N'Servicekraft')
SET IDENTITY_INSERT [dbo].[tb_Rolle_Import] OFF
GO
SET IDENTITY_INSERT [dbo].[tb_Service] ON 

INSERT [dbo].[tb_Service] ([ServiceID], [Service], [Preis]) VALUES (1, N'Frühstück', 15.0000)
INSERT [dbo].[tb_Service] ([ServiceID], [Service], [Preis]) VALUES (2, N'Parkplatz', 10.0000)
INSERT [dbo].[tb_Service] ([ServiceID], [Service], [Preis]) VALUES (3, N'Wellness', 50.0000)
SET IDENTITY_INSERT [dbo].[tb_Service] OFF
GO
SET IDENTITY_INSERT [dbo].[tb_Zahlung] ON 

INSERT [dbo].[tb_Zahlung] ([ZahlungID], [ZahlungDatum], [ZahlungsArt], [RechnungID]) VALUES (1, CAST(N'2025-01-12' AS Date), N'Kreditkarte', 1)
INSERT [dbo].[tb_Zahlung] ([ZahlungID], [ZahlungDatum], [ZahlungsArt], [RechnungID]) VALUES (2, CAST(N'2025-01-20' AS Date), N'Überweisung', 2)
INSERT [dbo].[tb_Zahlung] ([ZahlungID], [ZahlungDatum], [ZahlungsArt], [RechnungID]) VALUES (3, CAST(N'2025-02-05' AS Date), N'Bar', 3)
SET IDENTITY_INSERT [dbo].[tb_Zahlung] OFF
GO
SET IDENTITY_INSERT [dbo].[tb_Zimmer] ON 

INSERT [dbo].[tb_Zimmer] ([ZimmerID], [ZimmerNummer], [ZimmerTypID]) VALUES (1, N'101', 1)
INSERT [dbo].[tb_Zimmer] ([ZimmerID], [ZimmerNummer], [ZimmerTypID]) VALUES (2, N'102', 1)
INSERT [dbo].[tb_Zimmer] ([ZimmerID], [ZimmerNummer], [ZimmerTypID]) VALUES (3, N'103', 1)
SET IDENTITY_INSERT [dbo].[tb_Zimmer] OFF
GO
SET IDENTITY_INSERT [dbo].[tb_ZimmerTyp] ON 

INSERT [dbo].[tb_ZimmerTyp] ([ZimmerTypID], [ZimmerTyp], [PreisProNacht]) VALUES (1, N'Einzelzimmer', 80.0000)
INSERT [dbo].[tb_ZimmerTyp] ([ZimmerTypID], [ZimmerTyp], [PreisProNacht]) VALUES (2, N'Doppelzimmer', 120.0000)
INSERT [dbo].[tb_ZimmerTyp] ([ZimmerTypID], [ZimmerTyp], [PreisProNacht]) VALUES (3, N'Suite', 200.0000)
SET IDENTITY_INSERT [dbo].[tb_ZimmerTyp] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Rolle]    Script Date: 18.09.2025 14:33:29 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Rolle] ON [dbo].[tb_Rolle]
(
	[Rolle] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Service]    Script Date: 18.09.2025 14:33:29 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Service] ON [dbo].[tb_Service]
(
	[Service] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_ZimmerNummer]    Script Date: 18.09.2025 14:33:29 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_ZimmerNummer] ON [dbo].[tb_Zimmer]
(
	[ZimmerNummer] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tb_Buchung] ADD  CONSTRAINT [DF_tb_Buchung_CheckinDatum]  DEFAULT (getdate()) FOR [CheckinDatum]
GO
ALTER TABLE [dbo].[tb_BuchungLog] ADD  DEFAULT (getdate()) FOR [EditOn]
GO
ALTER TABLE [dbo].[tb_BuchungLog] ADD  DEFAULT (original_login()) FOR [EditUser]
GO
ALTER TABLE [dbo].[tb_Rechnung] ADD  CONSTRAINT [DF_tb_Rechnung_GesamtBetrag]  DEFAULT ((0)) FOR [GesamtBetrag]
GO
ALTER TABLE [dbo].[tb_Rechnung] ADD  CONSTRAINT [DF_tb_Rechnung_RechnungStatus]  DEFAULT (N'Offen') FOR [RechnungStatus]
GO
ALTER TABLE [dbo].[tb_RechnungLog] ADD  CONSTRAINT [DF__tb_Rechnu__EditO__31B762FC]  DEFAULT (getdate()) FOR [EditOn]
GO
ALTER TABLE [dbo].[tb_RechnungLog] ADD  CONSTRAINT [DF__tb_Rechnu__EditU__32AB8735]  DEFAULT (original_login()) FOR [EditUser]
GO
ALTER TABLE [dbo].[tb_ZimmerTyp] ADD  CONSTRAINT [DF_tb_ZimmerTyp_PreisProNacht]  DEFAULT ((80)) FOR [PreisProNacht]
GO
ALTER TABLE [dbo].[BuchungService]  WITH CHECK ADD  CONSTRAINT [FK_BuchungService_tb_Buchung] FOREIGN KEY([BuchungID])
REFERENCES [dbo].[tb_Buchung] ([BuchungID])
GO
ALTER TABLE [dbo].[BuchungService] CHECK CONSTRAINT [FK_BuchungService_tb_Buchung]
GO
ALTER TABLE [dbo].[BuchungService]  WITH CHECK ADD  CONSTRAINT [FK_BuchungService_tb_Mitarbeiter] FOREIGN KEY([MitarbeiterID])
REFERENCES [dbo].[tb_Mitarbeiter] ([MitarbeiterID])
GO
ALTER TABLE [dbo].[BuchungService] CHECK CONSTRAINT [FK_BuchungService_tb_Mitarbeiter]
GO
ALTER TABLE [dbo].[BuchungService]  WITH CHECK ADD  CONSTRAINT [FK_BuchungService_tb_Service] FOREIGN KEY([ServiceID])
REFERENCES [dbo].[tb_Service] ([ServiceID])
GO
ALTER TABLE [dbo].[BuchungService] CHECK CONSTRAINT [FK_BuchungService_tb_Service]
GO
ALTER TABLE [dbo].[tb_Buchung]  WITH CHECK ADD  CONSTRAINT [FK_tb_Buchung_tb_Gast] FOREIGN KEY([GastID])
REFERENCES [dbo].[tb_Gast] ([GastID])
GO
ALTER TABLE [dbo].[tb_Buchung] CHECK CONSTRAINT [FK_tb_Buchung_tb_Gast]
GO
ALTER TABLE [dbo].[tb_Buchung]  WITH CHECK ADD  CONSTRAINT [FK_tb_Buchung_tb_Zimmer] FOREIGN KEY([ZimmerID])
REFERENCES [dbo].[tb_Zimmer] ([ZimmerID])
GO
ALTER TABLE [dbo].[tb_Buchung] CHECK CONSTRAINT [FK_tb_Buchung_tb_Zimmer]
GO
ALTER TABLE [dbo].[tb_Gast]  WITH CHECK ADD  CONSTRAINT [FK_tb_Gast_tb_Person] FOREIGN KEY([PersonID])
REFERENCES [dbo].[tb_Person] ([PersonID])
GO
ALTER TABLE [dbo].[tb_Gast] CHECK CONSTRAINT [FK_tb_Gast_tb_Person]
GO
ALTER TABLE [dbo].[tb_Mitarbeiter]  WITH CHECK ADD  CONSTRAINT [FK_tb_Mitarbeiter_tb_Person] FOREIGN KEY([PersonID])
REFERENCES [dbo].[tb_Person] ([PersonID])
GO
ALTER TABLE [dbo].[tb_Mitarbeiter] CHECK CONSTRAINT [FK_tb_Mitarbeiter_tb_Person]
GO
ALTER TABLE [dbo].[tb_Mitarbeiter]  WITH CHECK ADD  CONSTRAINT [FK_tb_Mitarbeiter_tb_Rolle] FOREIGN KEY([RolleID])
REFERENCES [dbo].[tb_Rolle] ([RolleID])
GO
ALTER TABLE [dbo].[tb_Mitarbeiter] CHECK CONSTRAINT [FK_tb_Mitarbeiter_tb_Rolle]
GO
ALTER TABLE [dbo].[tb_Mitarbeiter]  WITH CHECK ADD  CONSTRAINT [FK_tb_Mitarbeiter_tb_Service] FOREIGN KEY([ServiceID])
REFERENCES [dbo].[tb_Service] ([ServiceID])
GO
ALTER TABLE [dbo].[tb_Mitarbeiter] CHECK CONSTRAINT [FK_tb_Mitarbeiter_tb_Service]
GO
ALTER TABLE [dbo].[tb_Mitarbeiter_Rollen_import]  WITH CHECK ADD  CONSTRAINT [FK_tb_Mitarbeiter_Rollen_import_tb_Mitarbeiter_Import] FOREIGN KEY([MitarbeiterID])
REFERENCES [dbo].[tb_Mitarbeiter_Import] ([MitarbeiterID])
GO
ALTER TABLE [dbo].[tb_Mitarbeiter_Rollen_import] CHECK CONSTRAINT [FK_tb_Mitarbeiter_Rollen_import_tb_Mitarbeiter_Import]
GO
ALTER TABLE [dbo].[tb_Mitarbeiter_Rollen_import]  WITH CHECK ADD  CONSTRAINT [FK_tb_Mitarbeiter_Rollen_import_tb_Rolle_Import] FOREIGN KEY([RolleID])
REFERENCES [dbo].[tb_Rolle_Import] ([RolleID])
GO
ALTER TABLE [dbo].[tb_Mitarbeiter_Rollen_import] CHECK CONSTRAINT [FK_tb_Mitarbeiter_Rollen_import_tb_Rolle_Import]
GO
ALTER TABLE [dbo].[tb_MitarbeiterService]  WITH CHECK ADD  CONSTRAINT [FK_tb_MitarbeiterService_tb_Mitarbeiter] FOREIGN KEY([MitarbeiterID])
REFERENCES [dbo].[tb_Mitarbeiter] ([MitarbeiterID])
GO
ALTER TABLE [dbo].[tb_MitarbeiterService] CHECK CONSTRAINT [FK_tb_MitarbeiterService_tb_Mitarbeiter]
GO
ALTER TABLE [dbo].[tb_MitarbeiterService]  WITH CHECK ADD  CONSTRAINT [FK_tb_MitarbeiterService_tb_Service] FOREIGN KEY([ServiceID])
REFERENCES [dbo].[tb_Service] ([ServiceID])
GO
ALTER TABLE [dbo].[tb_MitarbeiterService] CHECK CONSTRAINT [FK_tb_MitarbeiterService_tb_Service]
GO
ALTER TABLE [dbo].[tb_Rechnung]  WITH CHECK ADD  CONSTRAINT [FK_tb_Rechnung_tb_Buchung] FOREIGN KEY([BuchungID])
REFERENCES [dbo].[tb_Buchung] ([BuchungID])
GO
ALTER TABLE [dbo].[tb_Rechnung] CHECK CONSTRAINT [FK_tb_Rechnung_tb_Buchung]
GO
ALTER TABLE [dbo].[tb_Zahlung]  WITH CHECK ADD  CONSTRAINT [FK_tb_Zahlung_tb_Rechnung] FOREIGN KEY([RechnungID])
REFERENCES [dbo].[tb_Rechnung] ([RechnungID])
GO
ALTER TABLE [dbo].[tb_Zahlung] CHECK CONSTRAINT [FK_tb_Zahlung_tb_Rechnung]
GO
ALTER TABLE [dbo].[tb_Zimmer]  WITH CHECK ADD  CONSTRAINT [FK_tb_Zimmer_tb_ZimmerTyp] FOREIGN KEY([ZimmerTypID])
REFERENCES [dbo].[tb_ZimmerTyp] ([ZimmerTypID])
GO
ALTER TABLE [dbo].[tb_Zimmer] CHECK CONSTRAINT [FK_tb_Zimmer_tb_ZimmerTyp]
GO
ALTER TABLE [dbo].[tb_Buchung]  WITH CHECK ADD  CONSTRAINT [CK_tb_Buchung_CheckoutDatum] CHECK  (([CheckoutDatum]>[CheckinDatum]))
GO
ALTER TABLE [dbo].[tb_Buchung] CHECK CONSTRAINT [CK_tb_Buchung_CheckoutDatum]
GO
ALTER TABLE [dbo].[tb_Person]  WITH CHECK ADD  CONSTRAINT [CK_tb_Person_GebDatum] CHECK  (([GebDatum]<dateadd(year,(-18),getdate())))
GO
ALTER TABLE [dbo].[tb_Person] CHECK CONSTRAINT [CK_tb_Person_GebDatum]
GO
ALTER TABLE [dbo].[tb_Service]  WITH CHECK ADD  CONSTRAINT [CK_tb_Service_Preis] CHECK  (([Preis]>(0)))
GO
ALTER TABLE [dbo].[tb_Service] CHECK CONSTRAINT [CK_tb_Service_Preis]
GO
ALTER TABLE [dbo].[tb_ZimmerTyp]  WITH CHECK ADD  CONSTRAINT [CK_tb_ZimmerTypPreisProNacht] CHECK  (([PreisProNacht]>(0)))
GO
ALTER TABLE [dbo].[tb_ZimmerTyp] CHECK CONSTRAINT [CK_tb_ZimmerTypPreisProNacht]
GO
/****** Object:  StoredProcedure [dbo].[sp_GastBuchung]    Script Date: 18.09.2025 14:33:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE   PROCEDURE [dbo].[sp_GastBuchung] 
	-- Add the parameters for the stored procedure here
@CheckinDatum date,
@CheckoutDatum date,
@ZimmerID INT,
@GastID INT,
--@Buchung INT IS NULL,
@Erfolg bit OUTPUT, -- geklappt oder nicht
@Feedback NVARCHAR(MAX) OUTPUT -- Fehlermeldungen etc.

AS
BEGIN
DECLARE @msg AS nvarchar(MAX);
	SET NOCOUNT ON;
	    BEGIN TRY 
		IF ([dbo].[sf_Hat_Gast_Offene_Rechnungen](@GastID)=1)
     THROW 50001, 'Dieser Gast darf keine neuen Buchungen machen weil er noch offene Rechnungen hat!', 1;
           
	   IF @CheckinDatum<Cast (GETDATE() as date)  
    THROW 50002, 'Check in Datum darf nicht in der Vergangenheit liegen:', 1;
	
	   IF @CheckoutDatum<@CheckinDatum or @CheckoutDatum=@CheckinDatum
	THROW 50003,'Check out Datum muss nach dem Check in Datum liegen',1;

	   IF([dbo].[sf_IstZimmerFrei_in_Diesen_ZeitRaum ](@ZimmerID,@CheckinDatum,@CheckoutDatum)=1)
    THROW 50004,'Zimmer ist in diesem Zeitraum schon belegt ',1;

       ELSE
                 INSERT INTO [dbo].[tb_Buchung]([CheckinDatum],[CheckoutDatum],[GastID],[ZimmerID])
                 VALUES(@CheckinDatum,@CheckoutDatum,@GastID,@ZimmerID)
	             SET @Erfolg = 1;
		         SET @Feedback = 'Alles OK!';
	    END TRY

		BEGIN CATCH
		SET @Erfolg = 0; -- nicht geklappt--
		-- 	@Feedback text OUTPUT --Fehlermeldungen etc.
		SET @Feedback = 
			ERROR_MESSAGE() + ' Fehler Nr. '+ CONVERT(varchar, ERROR_NUMBER()) + CHAR(10)
						+ ' Prozedur: '  + ERROR_PROCEDURE() + CHAR(10)
						+ ' Zeile Nr.: ' + CONVERT(varchar,  ERROR_LINE());
	END CATCH; 

END
GO
/****** Object:  Trigger [dbo].[trg_BuchungService_INSERT]    Script Date: 18.09.2025 14:33:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE   TRIGGER [dbo].[trg_BuchungService_INSERT]
   ON   [dbo].[BuchungService]
INSTEAD OF INSERT 
AS 
BEGIN
SET NOCOUNT ON;
DECLARE @msg AS nvarchar(MAX);
IF EXISTS (SELECT 1 
FROM [dbo].[tb_Buchung] inner join inserted on [dbo].[tb_Buchung].BuchungID= inserted.BuchungID
WHERE inserted.Datum < [dbo].[tb_Buchung].CheckinDatum OR inserted.Datum >[dbo].[tb_Buchung].CheckoutDatum  )
BEGIN
SET @msg = FORMATMESSAGE('Service Datum liegt nicht zwischen Checkin Datum und Check out Datum');
	Print @msg;
	ROLLBACK TRANSACTION;
END


INSERT INTO [dbo].[BuchungService]([BuchungID],[ServiceID],[Anzahl],[MitarbeiterID],[Datum])
SELECT BuchungID,ServiceID,Anzahl,MitarbeiterID,Datum
FROM inserted;
END
GO
ALTER TABLE [dbo].[BuchungService] ENABLE TRIGGER [trg_BuchungService_INSERT]
GO
/****** Object:  Trigger [dbo].[trg_Update_Gesamt_Betrag_After_insert_Buchung_Service]    Script Date: 18.09.2025 14:33:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--Trigger der nach jedem INSERT in tb_BuchungService den GesamtenBetrag in tb_Rechnung aktualisiert
CREATE     TRIGGER [dbo].[trg_Update_Gesamt_Betrag_After_insert_Buchung_Service]
ON [dbo].[BuchungService]
AFTER INSERT 
AS
BEGIN
UPDATE [dbo].[tb_Rechnung]
SET [GesamtBetrag]=[dbo].[sf_GesamtBetrageRechner](inserted.BuchungID)
FROM [dbo].[tb_Rechnung]INNER JOIN inserted ON [dbo].[tb_Rechnung].[BuchungID]=inserted.BuchungID;
END;
GO
ALTER TABLE [dbo].[BuchungService] ENABLE TRIGGER [trg_Update_Gesamt_Betrag_After_insert_Buchung_Service]
GO
/****** Object:  Trigger [dbo].[trg_Buchung_Delete]    Script Date: 18.09.2025 14:33:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   TRIGGER [dbo].[trg_Buchung_Delete]
ON [dbo].[tb_Buchung]
INSTEAD OF DELETE
AS
BEGIN
    -- Rechnungen zuerst löschen
    DELETE r
    FROM tb_Rechnung r
    INNER JOIN deleted d ON r.BuchungID = d.BuchungID;

    -- Buchungen löschen
    DELETE b
    FROM tb_Buchung b
    INNER JOIN deleted d ON b.BuchungID = d.BuchungID;
END;
GO
ALTER TABLE [dbo].[tb_Buchung] ENABLE TRIGGER [trg_Buchung_Delete]
GO
/****** Object:  Trigger [dbo].[trg_BuchungUPDATE]    Script Date: 18.09.2025 14:33:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================

CREATE     TRIGGER [dbo].[trg_BuchungUPDATE] -- Name des Triggers
	ON [dbo].[tb_Buchung] -- welche Tabelle oder Sicht soll überwacht werden
	FOR UPDATE    -- welches Ereignis (INSERT -und AFTER INSERT-, UPDATE oder DELETE)
				 
AS 
BEGIN
	SET NOCOUNT ON;

	INSERT INTO [dbo].[tb_BuchungLog]
	(
		 Mode,
		 [BuchungID],
  ---------------------------
		[CheckinDatum_alt],
		[CheckinDatum],
  ---------------------------
		 [CheckoutDatum_alt],
		 [CheckoutDatum],
  ---------------------------
		 [GastID_alt],
		 [GastID],
  ---------------------------
		[ZimmerID_Alt],
		 [ZimmerID]
	)

	SELECT 
	'U',
	BuchungID,

	  
	(SELECT CheckinDatum FROM deleted),-- Wert alt,
	(SELECT CheckinDatum FROM inserted), -- Wert neu


	
	(SELECT CheckoutDatum FROM deleted), -- Wert alt
	(SELECT CheckoutDatum FROM inserted), -- Wert neu,


	(SELECT GastID FROM deleted), -- Wert alt
	(SELECT GastID FROM inserted), -- Wert neu

	
	(SELECT ZimmerID FROM deleted), -- Wert alt
	(SELECT ZimmerID FROM inserted) -- Wert neu
	
	FROM inserted; 

END
GO
ALTER TABLE [dbo].[tb_Buchung] ENABLE TRIGGER [trg_BuchungUPDATE]
GO
/****** Object:  Trigger [dbo].[trg_Nach_Neuer_Buchung_Erstellt_Neue_Rechnung]    Script Date: 18.09.2025 14:33:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--Trigger dder nach jedem INSERT in die tb_Buchung automatisch eine 
--neue Rechnung in tb_Rechnung erstellt


 CREATE          TRIGGER [dbo].[trg_Nach_Neuer_Buchung_Erstellt_Neue_Rechnung]
ON [dbo].[tb_Buchung]
AFTER INSERT
AS BEGIN
SET NOCOUNT ON;
	DECLARE @msg AS nvarchar(MAX);
INSERT INTO [dbo].[tb_Rechnung]([Datum],[GesamtBetrag],[BuchungID])
SELECT CheckinDatum,[dbo].[sf_GesamtBetrageRechner](BuchungID),BuchungID
FROM inserted;





	END;
GO
ALTER TABLE [dbo].[tb_Buchung] ENABLE TRIGGER [trg_Nach_Neuer_Buchung_Erstellt_Neue_Rechnung]
GO
/****** Object:  Trigger [dbo].[trg_BuchungService_AFTERINSERT]    Script Date: 18.09.2025 14:33:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE       TRIGGER [dbo].[trg_BuchungService_AFTERINSERT]
   ON  [dbo].[tb_Rechnung]
AFTER INSERT 
AS 
BEGIN
SET NOCOUNT ON;

UPDATE [dbo].[tb_Rechnung]
SET [GesamtBetrag]=[dbo].[sf_GesamtBetrageRechner](inserted.BuchungID)
FROM [dbo].[tb_Rechnung] inner join inserted
on [dbo].[tb_Rechnung].BuchungID=inserted.BuchungID

END
GO
ALTER TABLE [dbo].[tb_Rechnung] ENABLE TRIGGER [trg_BuchungService_AFTERINSERT]
GO
/****** Object:  Trigger [dbo].[trg_RechnungDELETE]    Script Date: 18.09.2025 14:33:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE         TRIGGER [dbo].[trg_RechnungDELETE]
ON [dbo].[tb_Rechnung]
FOR DELETE
AS BEGIN
SET NOCOUNT ON;
	INSERT INTO [dbo].[tb_RechnungLog]
	(
			Mode,[RechnungID],[Datum] , [GesamtBetrag], [RechnungStatus],[BuchungID] 
	)
	SELECT  'D',RechnungID ,Datum ,GesamtBetrag ,    RechnungStatus,    BuchungID
	FROM deleted; 
END
GO
ALTER TABLE [dbo].[tb_Rechnung] ENABLE TRIGGER [trg_RechnungDELETE]
GO
/****** Object:  Trigger [dbo].[trg_RechnungUPDATE]    Script Date: 18.09.2025 14:33:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================

CREATE     TRIGGER [dbo].[trg_RechnungUPDATE] -- Name des Triggers
	ON [dbo].[tb_Rechnung] -- welche Tabelle oder Sicht soll überwacht werden
	FOR UPDATE    -- welches Ereignis (INSERT -und AFTER INSERT-, UPDATE oder DELETE)
				 
AS 
BEGIN
	SET NOCOUNT ON;

	INSERT INTO [dbo].[tb_RechnungLog]
	(
		 Mode,
		 [RechnungID],
  ---------------------------
		[Datum_alt],
		[Datum],
  ---------------------------
		 [GesamtBetrag_alt],
		 [GesamtBetrag],
  ---------------------------
		 [RechnungStatus_alt],
		 [RechnungStatus],
  ---------------------------
		[BuchungID_Alt],
		 [BuchungID]
	)

	SELECT 
	'U',
	RechnungID,

	  
	(SELECT Datum FROM deleted),-- Wert alt,
	(SELECT Datum FROM inserted), -- Wert neu


	
	(SELECT GesamtBetrag FROM deleted), -- Wert alt
	(SELECT GesamtBetrag FROM inserted), -- Wert neu,


	(SELECT RechnungStatus FROM deleted), -- Wert alt
	(SELECT RechnungStatus FROM inserted), -- Wert neu

	
	(SELECT BuchungID FROM deleted), -- Wert alt
	(SELECT BuchungID FROM inserted) -- Wert neu
	
	FROM inserted; 

END
GO
ALTER TABLE [dbo].[tb_Rechnung] ENABLE TRIGGER [trg_RechnungUPDATE]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[41] 4[14] 2[16] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "BuchungService"
            Begin Extent = 
               Top = 138
               Left = 999
               Bottom = 268
               Right = 1184
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "tb_Buchung"
            Begin Extent = 
               Top = 27
               Left = 704
               Bottom = 157
               Right = 880
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "tb_Gast"
            Begin Extent = 
               Top = 21
               Left = 414
               Bottom = 117
               Right = 581
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "tb_Person"
            Begin Extent = 
               Top = 125
               Left = 83
               Bottom = 255
               Right = 250
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "tb_Service"
            Begin Extent = 
               Top = 200
               Left = 1261
               Bottom = 313
               Right = 1428
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
      Begin ColumnWidths = 9
         Width = 284
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         ' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'View_FullJoin_Gast_ohne_ServiceBuchung'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane2', @value=N'Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'View_FullJoin_Gast_ohne_ServiceBuchung'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=2 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'View_FullJoin_Gast_ohne_ServiceBuchung'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "BuchungService"
            Begin Extent = 
               Top = 13
               Left = 254
               Bottom = 175
               Right = 439
            End
            DisplayFlags = 280
            TopColumn = 1
         End
         Begin Table = "tb_Buchung"
            Begin Extent = 
               Top = 3
               Left = 542
               Bottom = 133
               Right = 718
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "tb_Gast"
            Begin Extent = 
               Top = 17
               Left = 872
               Bottom = 113
               Right = 1039
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "tb_Mitarbeiter"
            Begin Extent = 
               Top = 181
               Left = 550
               Bottom = 303
               Right = 717
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "tb_Service"
            Begin Extent = 
               Top = 192
               Left = 6
               Bottom = 305
               Right = 173
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "tb_Person"
            Begin Extent = 
               Top = 4
               Left = 1254
               Bottom = 134
               Right = 1421
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "tb_Person_1"
            Begin Extent = 
               Top = 195
               Left = 876
               Bottom = 325
               Right = 1043
            End
  ' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'View_Gast_Service_Mitarbeiter'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane2', @value=N'          DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
      Begin ColumnWidths = 9
         Width = 284
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'View_Gast_Service_Mitarbeiter'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=2 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'View_Gast_Service_Mitarbeiter'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "BuchungService"
            Begin Extent = 
               Top = 138
               Left = 559
               Bottom = 268
               Right = 744
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "tb_Service"
            Begin Extent = 
               Top = 51
               Left = 830
               Bottom = 164
               Right = 997
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "tb_Buchung"
            Begin Extent = 
               Top = 34
               Left = 303
               Bottom = 164
               Right = 479
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "tb_Gast"
            Begin Extent = 
               Top = 134
               Left = 41
               Bottom = 230
               Right = 208
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
      Begin ColumnWidths = 9
         Width = 284
         Width = 1500
         Width = 1500
         Width = 3090
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 12
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 135' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'View_GesamtPreisVonService_GroupByHaving+Sum'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane2', @value=N'0
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'View_GesamtPreisVonService_GroupByHaving+Sum'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=2 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'View_GesamtPreisVonService_GroupByHaving+Sum'
GO
USE [master]
GO
